        /* reset */
        a {
            color: inherit;
            text-decoration: none;

        }


        input {
            outline: none;
            border: none;
            color: #000;
        }

        li {
            list-style: none;
        }


        /* common */

        .clearfix::after {
            content: '';
            display: block;
            clear: both;
        }

        body {
            width: 99vw;
            display: block;
            margin: 0 auto;
        }

        .invisible {
            display: none;
        }

        header {

            background: fixed;
            background-color: rgb(134, 101, 183);
            margin: 0 auto;
            width: 100%;
            height: 100px;
            border-radius: 5px;
            margin-top: 10px;

        }

        .logo {
            display: inline;
        }

        h1 {
            display: inline;
            padding-top: 50px;
            margin-left: 50px;

        }

        h1 a {
            /* margin-top: 200px; */
            color: #fff;
            line-height: 3;

        }

        /* 첫화면 */
/* ///////////////////////////////////////////////////// */
        .menu_section {
            position: relative;
            width: 82vw;
            height: 100vh;
            justify-content: space-around;
        }
/* ////////////////////////////////////////////////////////// */
        .menu_section div {
            text-align: center;
            display: inline-block;
        }
        
        #new_shoot_show {
            position: relative;
            background: #663366;
            text-align: center;
            width: 500px;
            height: 300px;
            top: 30%;
            opacity: 0.7;
            border-radius: 10px;

        }

        #new_shoot_show img{
            width: 30px;
        }

        #camera_go_div{
            position: relative;
            width: 500px;
            height: 300px;
            top: 40%;
        
        }

        #chart_show {
            position: relative;
            background: rgb(134, 101, 183);
            text-align: center;
            width: 500px;
            height: 300px;
            top: 30%;
            opacity: 0.7;
            border-radius: 10px;
        }

        
        #chart_go_div{
            position: relative;
            width: 500px;
            height: 300px;
            top: 40%;
        
        }

        #chart_show img{
            width: 30px;
        }

        #search_record {
            position: relative;
            background: gray;
            text-align: center;
            width: 500px;
            height: 300px;
            top: 30%;
            opacity: 0.7;
            border-radius: 10px;
        }

        
        
        #search_go_div{
            position: relative;
            width: 500px;
            height: 300px;
            top: 40%;
        
        }

        
        #search_record img{
            width: 30px;
        }


        #menu {
            background: rgb(164, 152, 211);
            margin-top: 5px;
            width: 7vw;
            height: 100vh;
            border-radius: 5px;
            display: inline-block;
            /* display: none; */

        }

        .menu_open {
            animation: menu_open_animation 1s;

        }

        /* 메뉴 열리는 애니메이션 */

        @keyframes menu_open_animation {

            0% {
                width: 7vw;
            }

            100% {
                width: 10vw;
            }
        }

        .menu_close {
            animation: menu_close_animation 1s;
        }

        /* 메뉴 열리는 애니메이션 */

        @keyframes menu_close_animation {

            0% {
                width: 10vw;
            }

            100% {
                width: 7vw;
            }
        }

        .menu_list {
            position: absolute;
            color: #fff;
            line-height: 2;


        }

        .menu_list li a img {
            display: none;
            margin-left: 50%;
            width: 50px;
            height: 50px;

        }


        .close_menu_list li a #open {
            display: block;
            margin-left: 10%;
            width: 50px;
            height: 50px;
            padding-top: 350px;

        }

        .close_menu_list li a img {
            display: block;
            margin-left: 20%;
            width: 50px;
            height: 50px;
            padding-top: 50px;

        }

        .home li {
            display: inline;
            background-color: blue;
            box-sizing: border-box;
        }

        /* 메인화면 */

        select {
            width: 100px;
            padding: 2px 2px;
            border: 1px solid #999;
            border-radius: 0px;

        }

        .input_section {
            /* background: rgb(240, 240, 240); */
            margin-top: 5px;
            width: 82vw;
            height: 800px;
            margin-left: 5%;
            display: inline-block;
            text-align: center;
            border-radius: 5px;
        }

        /* 메인화면 버튼 */

        #main_link {
            position: absolute;
            top: 400px;
            left: 700px;
            text-align: center;
        }

        /* /////////////////////////수정수정수정////////////////// */

        #new_shoot, #show_data {
            width: 300px;
            height: 200px;
            font-size: 25px;
            font-weight: bold;
            color: white;
            border: none;
            background: #663366;
            border-radius: 10px;
            cursor: pointer;
        }

        /* ////////////////////////////수정수정수정//////////////////// */


        #main_link #show_data {
            margin-left: 50px;
        }



        /* 차트 */

        .chart_section {
            /* background: rgb(240, 240, 240); */
            margin-top: 5px;
            width: 82vw;
            height: 800px;
            display: inline-block;
            border-radius: 5px;
        }

        #barchart_values {
            margin-left: 2%;
            position: absolute;
            border-radius: 20px;

        }

        #barchart_values div div div svg {
            border-radius: 50px;
            width: 550px;
            height: 370px;

        }

        .barchart_background {
            width: 550px;
            height: 370px;
            margin-left: 15px;
            background: rgb(224, 219, 241);
            margin-top: 1%;
            box-sizing: border-box;
            border-radius: 50px;
            position: absolute;

        }

        #curve_chart {
            margin-left: 2%;
            margin-top: 21%;
            width: 550px;
            height: 370px;
            position: absolute;
        }

        #curve_chart div div div svg {

            border-radius: 50px;
            width: 550px;
            height: 370px;

        }

        .linechart_background {
            width: 550px;
            height: 370px;
            margin-left: 15px;
            background: rgb(224, 219, 241);
            margin-top: 22%;

            box-sizing: border-box;
            border-radius: 50px;
            position: absolute;

        }

        /* 막대차트 애니메이션 */

        #barchart_values>div>div:nth-child(1)>div>svg>g:nth-child(4)>g:nth-child(2)>g:nth-child(2)>rect {
            height: 30px;
            animation: graph_animation 1s
        }

        @keyframes graph_animation {
            0% {
                width: 0;
            }

            100% {
                width: 20%;
            }
        }

        /* 영역차트 */
        #chart_div div div div svg {
            border-radius: 50px;
            float: right;
            right: -213%;
            background: rgb(224, 219, 241);
            margin-top: 73%;
            box-sizing: border-box;
            border-radius: 50px;
            position: absolute;
        }


        .placechart_background {
            width: 550px;
            height: 370px;
            margin-left: 60%;
            background: rgb(224, 219, 241);
            margin-top: 22%;

            box-sizing: border-box;
            border-radius: 50px;
            position: absolute;

        }

        /* 내 정보 */
        #myInfo {
            width: 250px;
            height: 70px;
            border-radius: 20px;
            background: rgb(134, 101, 183);
            margin-left: 70%;
            margin-top: 2%;
            box-sizing: border-box;
            position: absolute;
        }

        #myInfo .infoText {
            margin-left: 38%;
            line-height: 4;
            font-weight: bold;
            color: white;
            font-size: 18px;
            box-sizing: border-box;

        }

        #myInfo .infoText img {
            width: 30px;
            height: 30px;
            padding-left: 10%;
            display: inline;

        }

        .myInfo_Open {
            animation: myInfo_open_animation 1s;
        }

        @keyframes myInfo_open_animation {
            0% {
                width: 250px;
                height: 70px;
            }

            100% {
                width: 250px;
                height: 300px;
            }
        }

        .myInfo_Close {
            animation: myInfo_close_animation 1s;
        }

        @keyframes myInfo_close_animation {
            0% {
                width: 250px;
                height: 300px;
            }

            100% {
                width: 250px;
                height: 70px;
            }
        }

        /* 촬영 */
        .camera_section {
            /* background: rgb(240, 240, 240); */
            margin-top: 5px;
            width: 82vw;
            height: 800px;
            display: inline-block;
            border-radius: 5px;
        }

        #shootBox {
            width: 500px;
            height: 500px;
            position: absolute;
            margin-left: 25%;
            margin-top: 2%;

        }

        #input_name_day {
            position: absolute;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            top: 7%;
        }


        #shoopBox p {
            /* position: absolute; */
            box-sizing: border-box;
            margin: 0;

        }

        .bold {
            font-weight: bold;
        }

        #name_select {
            top: 20%;
            z-index: 10;
        }

        #day_select {
            top: 20%;
            margin-left: 20px;
            z-index: 10;
        }
        .button {
            border-style: none;
            width: 50px;
            height: 30px;
            display: inline;
            background: rgb(164, 152, 211);
            color: white;

        }

        /* 촬영 전 정보입력 */
 /* 수정수정수정수정수정 */

        #inputBox {
            background: rgb(198, 191, 230);
            width: 630px;
            height: 350px;
            margin-top: 15%;
            text-align: center;
            /* border-radius: 20px; */
            border: 3px double white;

        }

        #dataBox {
            background: rgb(198, 191, 230);
            width: 300px;
            height: 300px;
            border-radius: 20px;
            overflow: hidden;

        }

        #inputName {
            position: absolute;
            top: 10%;
            left: 44%;
            height: 20px;
            width: 350px;
            font-weight: bold;
            background: transparent;
            border-bottom: 1px solid black;
            box-sizing: border-box;
            font-size: 15px;
        }

        #inputDate {
            position: relative;
            margin-left: 19%;
            margin-top: 15%;
            /* height: 20px;
            width: 200px;
            font-weight: bold;
            background: transparent;
            border-bottom: 1px solid black; */
        }


        #camera_searchPic {
            width: 25px;
            position: absolute;
            /* left: -5px; */
            cursor: pointer;
            left: 120%;
            top: 10%;

        }

        #inputGender {
            position: relative;
            margin-left: 5%;
        }

        .gender {
            position: relative;
            margin-left: 20px;
            margin-top: 10%;


        }

        .genderText {
            color: white;
        }

        #inputAgeKg {
            display: flex;
            flex-direction: column;

            
        }

        #inputAge {
            position: relative;
            margin-left: 36%;
            margin-top: 5%;
            height: 20px;
            width: 200px;
            
            font-weight: bold;
            background: transparent;
            border-bottom: 1px solid white;

        }


        #inputKg {
            position: relative;
            margin-top: 5%;
            margin-left: 36%;
            height: 20px;
            width: 200px;
            
            font-weight: bold;
            background: transparent;
            border-bottom: 1px solid white;


        }

        #inputNumber {
            position: relative;
            margin-left: 5%;
            margin-top: 5%;
            height: 20px;
            width: 200px;
            color: white;
            font-weight: bold;
            background: transparent;
            border-bottom: 1px solid white;

        }

        /* 촬영 전 입력시 버튼 */

        #buttonDiv {
            width: 40px;
            height: 40px;
            margin: auto;
            margin-top: 5%;

        }

        #shootButton {
            width: 50px;
            height: 50px;
            margin: auto;
            border: none;
            border-radius: 50%;
            background-color: transparent;
            cursor: pointer;
        }

        #shootButton img {
            width: 25px;
            height: 25px;
            background: transparent;
            margin: auto;
            border-radius: 50%;



        }

        /* 이름 검색 시 뜨는 창 */
        #data {
            display: inline-block;
            text-align: center;

        }

        #data #inner_data {
            width: 300px;
            height: 300px;
            background: white;
            border: 1px solid #000;

            margin-top: 2%;
            margin-left: 25%;
        }

        /* 촬영화면 */
        #shootScreen {
            display: inline;

        }

        #shootScreen #inner_screen {
            margin-left: 20px;
            margin-top: 0;
        }

        #shootScreen #inner_screen canvas {
            position: absolute;
            width: 500px;
            height: 700px;
            margin-top: 0;
            margin-left: 0;
            border: 3px solid black;
            padding: 2px;


        }

        /* 촬영버튼 */
        #shootButtonBox {
            position: relative;
            width: 50px;
            height: 50px;
            top: 400px;
            left: 600px;

        }

        #shootButtonBox #shootButtonBox_shootButton {
            position: absolute;
            width: 50px;
            height: 50px;
            border-style: none;
            /* display: inline; */
            /* background: rgb(164, 152, 211); */
            background: transparent;
        }

        #shootButtonBox #shootButtonBox_shootButton img {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            cursor: pointer;

        }

        /* 촬영시 색상조절하는 바 */

        .seek-bar {
            margin: 20px auto;
            position: relative;
            width: 250px;
            height: 10px;
            background: #fff;
            border-radius: 5px;
            box-sizing: border-box;
            float: right;
            margin-right: 30px;
        }

        .seek-bar>.circle {
            cursor: grab;
            position: absolute;
            left: 0;
            top: 50%;
            width: 30px;
            height: 30px;
            transform: translate(-50%, -50%);
            touch-action: none;
        }

        .seek-bar>.circle>span {
            position: absolute;
            display: block;
            width: 30px;
            line-height: 30px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: #663366;
            border-radius: 100%;
            text-align: center;
        }

        /* 밝기, 대비, 배율세팅 */
        #shootSetting {
            float: right;
            width: 400px;
            height: 300px;
            background: rgb(224, 219, 241);
            text-align: center;
            border-radius: 10px;
            margin-top: 3%;
        }

        #shootSetting h2 {
            color: black;
        }

        #shootSetting p {
            display: inline-block;
            color: black;
            margin-left: 50px;
            padding-right: 30px;
        }


        /* 필터세팅 */
        #screenSetting {
            float: right;
            margin-top: 3%;
            margin-left: 50%;
            width: 400px;
            height: 300px;
            background: rgb(164, 152, 211);
            text-align: center;
            border-radius: 10px;
            box-sizing: border-box;
        }

        #imgBox {
            display: inline;
            text-align: center;
            position: absolute;
            width: 50px;
            height: 50px;

        }

        #imgBox #back img {
            position: absolute;
            width: 50px;
            height: 50px;
            left: 0;

        }


        .slider {
            width: 400px;
            height: 300px;
            position: relative;
            margin: 0 auto;
            margin-left: 20%;

        }

        #imgholder img {
            position: absolute;
            /* display: inline; */
            float: left;
            width: 120px;
            height: 170px;


        }

        #imgholder img:hover {
            cursor: pointer;

        }

        #imgholder #setting_one img {
            position: absolute;
            top: 30px;
            left: -70px;
            box-sizing: border-box;
            background: #000;
            width: 150px;
            height: 200px;
            z-index: 1;


        }

        .one {
            animation: transOne 1s;
        }

        @keyframes transOne {
            0% {
                top: 30px;
                left: -70px;
            }

            100% {
                top: 70px;
                left: 55px;
                z-index: 3;
            }
        }



        #imgholder #setting_two img {
            position: absolute;
            top: 50px;
            left: -10px;
            box-sizing: border-box;
            background: #000;
            width: 150px;
            height: 200px;
            z-index: 2;
        }

        .two {
            animation: transtwo 1s;
        }

        @keyframes transtwo {
            0% {
                top: 50px;
                left: -10px;
            }

            100% {
                top: 70px;
                left: 55px;
                z-index: 3;
            }
        }


        #imgholder #setting_three img {
            position: absolute;
            top: 70px;
            left: 55px;
            box-sizing: border-box;
            background: #000;
            width: 150px;
            height: 200px;
            z-index: 3;
        }

        .three_to_one {
            animation: three_to_one 1s;
        }

        .three_to_two {
            animation: three_to_two 1s;
        }

        .three_to_four {
            animation: three_to_four 1s;
        }

        .three_to_five {
            animation: three_to_five 1s;
        }

        @keyframes three_to_one {
            0% {
                top: 70px;
                left: 55px;
            }

            100% {
                top: 30px;
                left: -70px;
                z-index: 1;
            }
        }

        @keyframes three_to_two {
            0% {
                top: 70px;
                left: 55px;
            }

            100% {
                top: 50px;
                left: -10px;
                z-index: 2;
            }
        }

        @keyframes three_to_four {
            0% {
                top: 70px;
                left: 55px;
            }

            100% {
                top: 50px;
                right: 130px;
                z-index: 2;
            }
        }

        @keyframes three_to_five {
            0% {
                top: 70px;
                left: 55px;
            }

            100% {

                position: absolute;
                top: 30px;
                right: 10px;
                margin-right: 80px;
                box-sizing: border-box;
                background: #000;
                width: 150px;
                height: 200px;
                z-index: 1;
                /* top: 30px;
                right: 10px;
                z-index: 1; */
            }
        }



        #imgholder #setting_four img {

            position: absolute;
            top: 50px;
            right: 130px;
            box-sizing: border-box;
            background: #000;
            width: 150px;
            height: 200px;
            z-index: 2;

        }

        .four {
            animation: transfour 1s;
        }

        @keyframes transfour {
            0% {
                top: 50px;
                right: 130px;
            }

            100% {
                top: 70px;
                left: 55px;
                z-index: 3;
            }
        }



        #imgholder #setting_five img {
            position: absolute;
            top: 30px;
            right: 10px;
            margin-right: 80px;
            box-sizing: border-box;
            background: #000;
            width: 150px;
            height: 200px;
            z-index: 1;

        }

        .five {
            animation: transfive 1s;
        }

        @keyframes transfive {
            0% {
                top: 30px;
                right: 10px;
            }

            100% {
                top: 70px;
                left: 55px;
                z-index: 3;
            }
        }

        /* 촬영화면 */
        /* /////////////////수정수정수정///////////////////// */
        #camera_outer_record_box {
            width: 630px;
            height: 300px;
            background: rgb(164, 152, 211);
            position: absolute;
            top: 25%;
            border-radius: 10px;
        }

        #button_set {
            position: absolute;
            text-align: center;
            /* width: 200px;
            height: 50px; */
            box-sizing: border-box;
            top: 90%;
            /* left: 2%; */
            /* background: #000; */
        }

        #inner_button_set {
            display: inline-block;
            width: 630px;
            
            
        }

        #inner_button_set button {

            width: 250px;
            height: 70px;
            background: #663366;
            border: 4px double white;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            font-size: 16px;
        }

        #inner_button_set button:nth-child(2) {
            margin-left: 120px;

        }
        /* ////////////////////////////////////////////////////// */

        .shoot_camera_section {
            position: relative;
            margin-top: 5px;
            width: 82vw;
            height: 800px;
            display: inline-block;
            border-radius: 5px;
            box-sizing: border-box;
            /* background: red; */
        }

        #shoot_div {
            /* margin: 0; */
            margin-top: -70px;
            /* margin: 0; */
            float: left;
            /* background: black; */
            border: 5px solid rgb(107, 66, 202);
            border-radius: 10%;
            width: 690px;
            height: 750px;
            margin-left:50px;
            box-sizing: border-box;

        }

        #shoot_ul {
            /* margin-top: 50px; */
            display: block;
        }

        #shoot_ul li {
            float: left;
            box-sizing: border-box;
            text-align: center;
            
            /* margin-left:10px; */
        }

        #shoot_ul li p {
            position:absolute;
            display: block;
            margin-left: 140px;
            margin-top:-250px;
            border :3px solid rgb(166, 149, 207);
            border-radius: 50%;
            /* border-top:3px solid rgb(134, 101, 153); */
            width: 60px;
            height: 60px;
            color:#000;
            box-sizing: border-box;
            font-size: 35px;
            font-weight: bold;
            font-family: 'Malgun Gothic';            
        }


        #spin_circle
        {

            /* width: 50px;
            height: 50px; */

            /* margin-left: 0px;
            margin-top:10px; */
            /* all:initial; */
            border :5px solid rgb(166, 149, 207);
            border-radius: 50%;
            border-top:5px solid rgb(107, 66, 202);
            
            animation: rotation_circle 1s linear infinite;
            
            /* -webkit-animation-name: rotation_circle;
            animation-name: rotation_circle;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; */

        }


        @keyframes rotation_circle 
        {
            to
            {
                transform: rotate(360deg);
            }
        }



        #shoot_ul li canvas {
            display: block;
            -webkit-transform : rotate(90deg);
            transform:rotate(90deg);
            width: 320px;
            height: 220px;
            margin-left: 10px;
            margin-top: 80px;
            border: 5px solid rgb(166, 149, 207);
            border-radius: 10%;
            box-sizing: border-box;
            margin-bottom: 60px;
        }


        #left_arrow
        {
            position: absolute;
            left:350px;
            top:20px;
            margin-left:10px;
            margin-top: 100px;
            -webkit-animation-name: arrow_move;
            animation-name: arrow_move;
            -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
        }
        @keyframes arrow_move
        {
            from
            {
                margin-left:2%;
            }
            to
            {
                margin-left:0%;
            }
        }


        #shoot_img {
            position: absolute;
            width: 500px;
            height: 700px;
            margin-top: 0;
            box-sizing: border-box;
            margin-left: 25%;
            margin-top: 50px;
            border: 3px solid black;
            padding: 2px;
            visibility: hidden;

        }


        /* #cam_frame
        {
            position: absolute;
            border:5px solid black;
            width: 600px;
            height: 740px;
            margin-left:800px;
            margin-top:-70px;
            border-radius: 5%;
            border-bottom: transparent;
            border-left: transparent;
        } */
        #now_rec
        {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border:5px solid black;
            background: linear-gradient(45deg, Firebrick 50%, Coral);
            margin-left : 1250px;
            opacity: 0.7;

            /* text-align: right; */
        }
        #now_rec p 
        {
            font-family:'Malgun Gothic';
            font-size:20px;
            font-weight: bold;
            margin-left:30px;
            margin-top:-6px;
            opacity: 0.7;
        }
        

        #cam_canvas
        {
            position: absolute;
            width: 640px;
            height: 480px;
            margin-top: 0;
            box-sizing: border-box;
            -webkit-transform : rotate(90deg);
            transform:rotate(90deg);
            margin-left: 50px;
            margin-top: 60px;
            border: 3px solid black;
            padding: 2px;
            
        }



        #shoot_img_div {

            position: relative;
            width: 50px;
            height: 50px;
            top: 400px;
            left: 950px;

        }
/* 
        



        /* .border-rotate
        {

            position: absolute;

            margin-top: 80px;
            margin-left: 10px;

            height: 220px;
            width: 320px;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            
            box-sizing: border-box;

            
            background: linear-gradient(90deg, #663366 50%, transparent 50%), 
                        linear-gradient(90deg, #663366 50%, transparent 50%), 
                        linear-gradient(0deg, #663366 50%, transparent 50%), 
                        linear-gradient(0deg, #663366 50%, transparent 50%);
            background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
            background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
            background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
            border-radius: 5px;
            padding: 10px;
            animation: dash 5s linear infinite;
        }
        
        @keyframes dash 
        {
            to
            {
                background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
            }
        } */





        


        /* #real_shoot_button {
            position: absolute;
            width: 50px;
            height: 50px;
            border-style: none;
            display: inline;
            background: rgb(164, 152, 211);
            background: transparent;
            
        }

        #real_shoot_button img {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            cursor: pointer;

        } */


        /* 앨범 */

        .album_section {
            text-align: center;
            position: relative;
            margin-top: 5px;
            width: 82vw;
            height: 800px;
            display: inline-block;
            border-radius: 5px;
            box-sizing: border-box;
            /* background: gray; */
        }

        #album_div {
            text-align: center;
        }

        #album {
            position: absolute;
            top: 30%;
            left: 25%;
        }

        #album ul {
            margin: auto;
            text-align: center;
            /* background: #000; */
        }

        #album ul li {
            display: inline;
            margin-left: 20px;

        }

        #album ul li:first-child {
            /* display: inline; */
            margin-left: 0;

        }


        #album ul li img {
            width: 200px;
            cursor: pointer;

        }

        /* 기록*/

        .record_section {
            text-align: center;
            position: relative;
            margin-top: 5px;
            width: 82vw;
            height: 800px;
            display: inline-block;
            border-radius: 5px;
            box-sizing: border-box;
            /* background: gray; */

        }

        #record_div {
            margin: 0;
            position: absolute;
            width: 82vw;
            height: 800px;
            text-align: center;
            
        }

        #inner_record_div {
            display: inline-block;
            margin: 0;

        }

        #inner_record_div div {
            float: left;
            margin-left: 50px;
        }

        #searchPic {
            width: 30px;
            position : relative;
            top: -30px;
            left: 140px;
            margin: 0;
            cursor: pointer;
        }

        #before_frame {
            position: absolute;
            cursor: pointer;
            top: 2%;

        }
        
        #before_frame img {
            top: 10%;
            width: 30px;
        }

        #before_frame img:active {
            background: rgb(164, 152, 211);
            border-radius: 5px;
            padding: 2px;
        }
                
        #record_one_div {
            top: 10%;
            width: 30px;
            height: 30px;
        }

        #record_two_div {
            width: 250px;
            box-sizing: border-box;
        }

        #record_input {
            
            border-bottom: 1px solid #000;
            /* padding: 10px; */
            margin-top: 8%;
            width: 100%;
            /* border-radius: 8px; */
            font-size: 15px;
            font-weight: bold;
            box-sizing: border-box;

        }

        #asc_desc {
            background: transparent;
            margin-top: 10px;
            margin-left: 10px;
            /* border: 1px solid black; */
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
        }

        #asc_desc:active {
            background: rgb(164, 152, 211);
            margin-top: 11px;
        }

        #asc_desc img {
            width: 30px;
        }

        /* 기록검색시 뜨는 창 */
        #outer_record_box {
            width: 450px;
            height: 300px;
            background: rgb(164, 152, 211);
            position: absolute;
            top: 25%;
            left: 38%;
            border-radius: 10px;
        }

        #record_list {
            margin-left: 5%;
            width: 570px;
            height: 30px;
            background: white;
            margin-top: 3px;
            border-radius: 10px;
            text-align: left;
            opacity: 0.8;
            cursor: pointer;
        }
      
        #record_list:first-child {
            margin-top: 20px;
        }

        #album_button_set {
            position: absolute;
            text-align: center;
            box-sizing: border-box;
            left: 45%;
            top: 70%;

        }

        #album_inner_button_set {
            display: inline-block;
        }

        #album_inner_button_set button {
            width: 200px;
            height: 70px;
            background: #663366;
            border: 4px double white;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            font-size: 16px;
        }



/* ///////////////////////////////////////// */
*
{
    margin: 0;
    padding: 0;
}

#album_div {
    width: 80vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 270px;
}

.frame_line
{
  position: absolute;
  z-index: 5;
  margin-top: 140px;
  border-bottom: 3px dashed rgb(103, 60, 202);
  width: 1300px;


}

#img_group
{
  user-select: none;
  width: 1600px;
  height: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgba(237, 236, 240, 0.87); */
}

#frame_title
{
  position: absolute;
  align-self: flex-start;
  align-items: center;
  white-space: nowrap;
  margin-top: 50px;
  color: rgb(35, 35, 35);
  font-size: 60px;
  font-weight: bold;
}

#img_group .frame_class
{
  margin-top: 100px;
  z-index: 55;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 800px;
  flex-direction: column;
  
  /*background-color: rgba(218, 118, 118, 0.486);*/
}

#img_group .frame_class .text_class
{
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
  padding: 2px 10px 4px 10px;
  color: rgba(245, 245, 245, 1);
  border-radius: 3px;
  background-color: rgb(107, 66, 202);
}

#img_group .frame_class .img_class
{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  box-shadow: 0px 4px 15px 1px grey;
  flex: none;
  width: 320px;
  height: 240px;
  -webkit-transform : rotate(90deg);
  transform: rotate(90deg);
}

#frame_confirm
{
  height: 100px;
  width: 150px;
}
#img_confirm
{
  position: relative;
  top: 20px;

  flex: none;
  width: 200px;
  height: 320px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 12px;
  height: 70px;
  width: 170px;
}

#img_confirm_border
{
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid whitesmoke;
  border-radius: 10px;
  height: 60px;
  width: 160px;
  font-size: 20px;
  font-weight: bold;
}

.img_confirm_border
{
  background-color: rgb(214, 96, 149);
  color: whitesmoke;
}

.img_confirm_border_over
{
  background-color: rgb(190, 38, 107);
}





body::-webkit-scrollbar {
    width: 15px;  /* 스크롤바의 너비 */
    height: 15px;
  }
  
  body::-webkit-scrollbar-thumb {
    height: 25%; /* 스크롤바의 길이 */
    background-image: linear-gradient(to top, rgba(156, 140, 216, 0.54), rgba(225, 146, 183, 0.54)); /* 스크롤바의 색상 */
    box-shadow: inset 0 0 1px rgba(156, 140, 216, 0.9);
    border-radius: 8px;
  
    /* 스크롤바와 영역에 간격 주기 : margin, padding 불가 */
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(248, 248, 248, 0.96);  /*스크롤바 뒷 배경 색상*/
  }