*
{
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}


body
{
    /* background-color: rgb(105, 105, 105); */
    z-index: -123;
    width: 1820px;
    height: 920px;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 배경 웨이브 */
#background_wave
{
  /* display: none; */

  user-select: none;
  -ms-user-select: none;
  outline: 0;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  left: 0;
  z-index: -1000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 400px;
}

#wave_canvas
{
  z-index: -1000;
  width: 100%;
  height: 100%;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  배경 웨이브 */



#loading_frame
{
  position: relative;
  width: 1200px;
  height: 100%;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: white; */

  grid-template-rows: 1fr 1fr; /* 2개의 행 */
}



#progress_space
{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader
{
  width: 48px;
  height: 48px;
  /* display: block; */
  position: absolute;
  margin-bottom: 100px;
  bottom: 0px;
}
.loader::after,
.loader::before {
  content: '';
  width: 48px;
  height: 48px;
  border: 3px solid #cc8282;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: rotation2 2s ease-in-out infinite;
}
.loader::after {
  border-color: rgb(123, 102, 200);
  animation-delay: 1s;
}

@keyframes rotation2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.progress-container, .progress-text, .progress-text-glitch
{
  width: 850px;
}

.progress-container {
  position: absolute;
  margin: 50px auto;
  height: 30px;

  bottom: 0px;
  /* background-color: rgb(255, 255, 255); */
  border: 3.5px solid rgb(123, 102, 200);

  box-shadow: 0px 0px 5px 1px rgba(55, 55, 55, 0.5);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.progress-bar {
  
  text-align: center;

  display: flex;
  align-items: center;

  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgb(123, 102, 200);
  border-radius: 5px;
}

.progress-text, .progress-text-glitch {
  user-select: none;
  position: absolute;
  text-align: center;
  line-height: 20px;
  color: rgb(62, 48, 116);
  font-weight: bold;
  /* background-color: #412222; */
}

.progress-bar .progress-text
{
  color: rgb(255, 255, 255);
}

.progress-bar .progress-text-glitch
{
  color: rgb(255, 255, 255);
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#loading_slide
{
  position: relative;
  top: 0px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: -555;

  width: 1200px;
  height: 700px;
  /* background-color: rgba(0, 0, 0, 0.473); */

  flex-direction: row;
}


#tooltip
{
  /* display: block;*/
  z-index: 9999;

  /* text-align: center; */
  /* overflow: hidden; */
  white-space: nowrap;

  width: auto;
  height: 150px;
  border-radius: 5px;
  /* border: 3px solid rgba(123, 102, 200, 0.5); */
  /* background-color: whitesmoke; */
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
}


#loading_img
{
  display: flex;
  
  width: 870px;
  height: 600px;
  transform: rotateX(-40deg) rotateY(11deg) rotateZ(15deg);
  border-radius: 25px;

  opacity: 1;
  /* background-image: url(img_loading1.png); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

#loading_img::before
{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.26) 370px, rgba(255, 255, 255, 0.91));
  
}

.test_icon_normal, .test_icon_arrow, .test_icon_backspace, .test_icon_top
{
  justify-content: center;
  align-items: center;
  height: auto;
  background-position: center center;
  vertical-align: bottom;
  line-height: 1.9;
}

.test_icon_normal
{
  width: 61px;
}

.test_icon_backspace
{
  width: 45px;
}

.test_icon_top
{
  width: 40px;
}

.test_icon_arrow
{
  width: 33px;
}



body::-webkit-scrollbar {
  width: 15px;  /* 스크롤바의 너비 */
  height: 15px;
}

body::-webkit-scrollbar-thumb {
  height: 25%; /* 스크롤바의 길이 */
  background-image: linear-gradient(to top, rgba(156, 140, 216, 0.54), rgba(225, 146, 183, 0.54)); /* 스크롤바의 색상 */
  box-shadow: inset 0 0 1px rgba(156, 140, 216, 0.9);
  border-radius: 8px;

  /* 스크롤바와 영역에 간격 주기 : margin, padding 불가 */
  background-clip: padding-box;
  border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
  background: rgba(248, 248, 248, 0.96);  /*스크롤바 뒷 배경 색상*/
}