 /* reset */
 a {
    color: inherit;
    text-decoration: none;

}

/* button,
input {
    outline: none;
    border: none;
    color: #000;
} */
#send-image
{
    cursor: pointer;
    position: absolute;
    top:650px;
    left:250px;
    
}
#capture_1
{
    position: absolute;
    top:200px;
    left:500px;
    border: 3px rgb(141, 141, 173);
}
#capture_2
{
    position: absolute;
    top:600px;
    left:500px;
    border: 3px rgb(141, 141, 173);
}
#capture_3
{
    position: absolute;    
    top:1000px;
    left:500px;
    border: 3px rgb(141, 141, 173);
}
#capture_4
{
    position: absolute;
    top:1400px;
    left:500px;
    border: 3px rgb(141, 141, 173);
}
#capture_btn
{
    cursor: pointer;
    position: absolute;
    top:650px;
    left:450px;
}

#cam_img
{
    /* visibility: hidden; */
    position:absolute;
    top:0px;
    left:0px;
}

#canvas
{
    position: absolute;
    top:200px;
    left:20px;
}

/* common */

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* header 스타일 */
header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1000;
}

header .inner-header {
    width: 84%;
    margin: 0 auto;
}

header .inner-header h1 {

    font-size: 20px;
}

header .inner-header h1.logo {
    float: left;
    width: 200px;
}

/* 로고 이미지 줄이려면 가로만 원하는 사이즈, 세로는 auto로(부모에게 적용)
박스 안에 있는 이미지를 가로 100% */
header .inner-header h1.logo img {
    width: 30%;
}

header .inner-header nav.tnb {
    float: right;
}

header .inner-header nav.tnb li {
    float: left;
    margin-right: 25px;
}

header .inner-header nav.tnb li a {
    color: #fff;
    font-size: 16px;
    text-align: center;
}


/* 두 가지를 쓰려면 처음부터 다 써야됨 */
header .inner-header nav.tnb li:first-child a i,
header .inner-header nav.tnb li:nth-child(2) a i {
    margin-right: 8px;
    font-size: 20px;
}

header .inner-header nav.tnb li:last-child a i {
    margin-left: 5px;
}

/* end header */
section.main .main-title {
    /* 박스를 화면 정중앙에 배치 */
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: #fff;

}

section.main .sketch {
    background: #000;
 
}

rect.rect1 {
    fill: rgb(141, 141, 173);
 
    stroke-width: 3px;
    stroke: rgb(0, 0, 0);


}

rect.rect2 {
    fill: rgb(141, 141, 173);
    stroke-width: 3px;
    stroke: rgb(0, 0, 0);

}

/* #canvas
{
    display: none;
} */
